.main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133px 85px 133px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(-bg-shade);
  }
.main-section-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
.main-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }
.main-section-content-box > button {
    margin-top: 21.333px;
  }
.main-section-title {
    color: var(-heading-color);
    font-size: 74px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
  }
.main-section-title-color {
    color: var(-primary);
  }
.main-section-description {
    color: var(-darkblue);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
  }
.main-section-img {
    display: flex;
  }
.main-section-img > img {
    width: 100%;
    height: 100%;
  }

@media only screen and (max-width: 1200px) {
  .main-section {
    display: flex;
    flex-direction: column;
  }
  .main-section-title {
    font-size: 50px;
  }
  .main-section-content {
    align-items: center;
  }
  .main-section-description {
    font-size: 17px;
  }
}